a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
}

a {
    display: block;
}

.home-porfolio {
    height: 100vh;
    overflow-x: hidden;

    @include mobile() {
        overflow-x: unset;
    }
}

.sections {
    width: 100vw;
    height: calc(100vh - 70px);
    position: relative;
    margin-top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; 

    scrollbar-width: none;  //firefox
    &::-webkit-scrollbar {  // all
        display: none;
    }
    overflow-x: hidden;
    background-color: white;

    @include mobile() {
        scroll-behavior: unset;
        scroll-snap-type: unset; 
        overflow-x: auto;
        background-color: unset;
    }

    & > * {
        width: 100%;
        height: calc(100vh - 70px);
        scroll-snap-align: start;  // pause in head div

        @include mobile() {
            scroll-snap-align: unset;
            margin-top: 15px;
        }
    }
}

